@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Lato:wght@300;400;700&family=Lobster&family=Open+Sans:wght@300&family=Plus+Jakarta+Sans:wght@200&family=Roboto:wght@100;300&family=Work+Sans:ital,wght@0,300;1,300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Work Sans";
    
}
body{
    width:100%;
}
/** EMPIEZA MENU DE HEADER **/
header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width:100%;
    background-color: black;
    position: sticky;
    top:0;
    z-index: 1;
}
.logo{
    width:100px;
}
.menu{
    display: flex;
    list-style: none;
    gap:15px;
    margin-right:15px;
}
.menu-link{
    text-decoration: none;
    color:white;
    font-size: 1.2rem;
}
.menu-link:hover{
    color:yellowgreen;
}
/** ACA TERMINA MENU DE HEADER **/

/** EMPIEZA INFO-PRINCIPAL **/
.info-principal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 700px;
}
.info-principal{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px;
}
.contenido{
    display: flex;
    flex-direction: column;
    gap:20px;
    width:500px;
    height:auto;
}
.contenido h1{
    font-size:5rem;
}
.contenido p{
font-size: large;
}
.contenido b{
    font-size: larger;
}
.imagen-informacion{
    width:400px;
}
/** ACA TERMINA INFO PRINCIPAL **/

/** ACA EMPIEZA BUTTONS **/
.btnMasinformacion{
    padding:10px;
    background-color: grey;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    
}
.btnAsesor{
    padding:10px;
    border:1px solid black;
    border-radius: 5px;
}
.btnAsesor:hover, .btnMasinformacion:hover{
    border: 1px solid yellowgreen;
    cursor:pointer;
}
/** TERMINA BUTTONS **/

/** EMPIEZA PRODUCTOS CONTAINER **/
.productos-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* flex-wrap: wrap; */
    align-items: baseline;
}
.producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
    text-align: center;
    width:250px;
    height: 280px;
    padding:10px;
}
.fa-solid.fa-shield, .fa-solid.fa-display, .fa-solid.fa-comments, .fa-solid.fa-hand-holding-dollar{
    font-size: 5rem;
}
.producto h3{
    font-size: 1.5rem;
    font-weight: 900;
}
.producto p{
    font-size:1.2rem;
    font-weight: 500;
}
/** ACA TERMINA PRODUCTOS CONTAINER **/

/** EMPIEZA SERVICIOS CONTAINER **/
.servicios-container{
   width:100%;
   display: flex;
   flex-direction: column;
   gap:20px;
}
/* RESPONSIVE DESIGN */
.responsive-design{
    width:100%;
    height: 500px;
    background-image: url(../img/descarga2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.responsive-design h3{
    color: white;
    font-size: 5rem;
    letter-spacing: 10px;
    text-align: center;
    position:absolute;
}
.responsive-design p{
    color: white;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 300;
    width: 700px;
    display: flex;
    visibility:hidden;
    
    
}
.overlay1{
    width: 100%;
    height: 0;
    top:100%;
    position: absolute;
    background-color: rgba(23, 23, 23, 0.7);
    color:red;
    cursor:pointer;
    transition: all 0.3s;
   
}
.responsive-design:hover .overlay1{
    visibility: visible;
    height:100%;
    top:0%;
   
}

.overlay1:hover p{
    visibility: visible;
    color:white;
    margin: 300px auto;
}
/* TERMINA RESPONSVE DESIGN*/
/*ASESORAMIENTO*/
.asesoramiento{
    width: 100%;
    height: 400px;
    background-image: url(../img/asesor.jfif);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.asesoramiento h3{
    color: white;
    font-size: 5rem;
    letter-spacing: 10px;
    text-align: center;
    position: absolute;
}
.asesoramiento p{
    color: white;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 300;
    width: 700px;
    visibility: hidden;
}

.overlay2{
    width: 100%;
    height: 0;
    top:100%;
    position: absolute;
    background-color: rgba(23, 23, 23, 0.7);
    color:red;
    cursor:pointer;
    transition: all 0.3s;
   
}
.asesoramiento:hover .overlay2{
    visibility: visible;
    height:100%;
    top:0%;
   
}

.overlay2:hover p{
    visibility: visible;
    color:white;
    margin: 250px auto;
}
/* TERMINA ASESORAMIENTO */
/*EMPIEZA EXPANDITUHORIZONTE */
.expandituhorizonte{
    width: 100%;
    height: 400px;
    background-image: url(../img/NY.jpg);
    background-size: cover;
    background-position: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    
}
.expandituhorizonte h3{
    color: white;
    font-size: 5rem;
    letter-spacing: 10px;
    text-align: center;
    position: absolute;
}
.expandituhorizonte p{
    color: white;
    font-size: 1.2rem;
    width: 700px;
    display: flex;
    text-align: center;
    font-weight: 300;
    visibility: hidden;
    flex-wrap: wrap;

}
.overlay3{
    width: 100%;
    height: 0;
    top:100%;
    position: absolute;
    background-color: rgba(23, 23, 23, 0.7);
    color:red;
    cursor:pointer;
    transition: all 0.2s;
   
}
.expandituhorizonte:hover .overlay3{
    visibility: visible;
    height:100%;
    top:0%;
   
}

.overlay3:hover p{
    visibility: visible;
    color:white;
    margin: 260px auto;
}
/* TERMINA EXPANDITUHORIZONTE */

/* EMPIEZA WORKPROGRESS */

.workprogress-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin:100px 0;

}
.workprogress{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.workprogress-pasos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:20px;
    margin-top: 50px;
}
.item{
display: flex;    
flex-direction: column;
justify-content:baseline; 
gap:8px;
padding:10px;
align-items: center;
width:200px;
height: 200px;
border-radius: 5px;

/* box-shadow: 0px 0px 16px 10px rgba(156,156,156,0.77);
-webkit-box-shadow: 0px 0px 16px 10px rgba(156,156,156,0.77);
-moz-box-shadow: 0px 0px 16px 10px rgba(156,156,156,0.77); */
}
.item h3, .item p{
    text-align: center;
}
.fa-solid.fa-angle-right{
    font-size: 2rem;
    
}
.fa-solid.fa-circle-1, .fa-solid.fa-circle-2, .fa-solid.fa-circle-3, .fa-solid.fa-circle-4{
    display: none;
}
/** ACA TERMINA WORKPROGRESS **/

/**EMPIEZA WORKS CONTAINER **/
.works-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}
.works{
    display: flex;
    gap:10px;
    flex-wrap: wrap; 
}
.works img{
    width: 250px;
    border-radius: 10px;
    
}
.work{
    width: 250px;
    position: relative;
    
   
}
.btnOverlay{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.btnOverlay button{
display: none; 
position: absolute;
padding:3px;
top:10px;
cursor: pointer;
}
.work:hover .btnOverlay button{
    display: flex;
    transition: 0.8s;
}
/* ACA TERMINA WORKS CONTAINER */

/* ACA EMPIEZA CONTACTO CONTAINER */
.contacto-container{
    display: flex;
    justify-content:center;
    width: 100%;
    margin-top:100px;
    background-color: black;

   
}
.elementos-contacto{
    display: flex;
    justify-content: space-between;
    gap:0px;
    width: 100%;
    color: white;
    margin: 40px 80px;
    
    flex-wrap: wrap;
}
.elementos-contacto h4{
    font-size: 2rem;
}
.contacto{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.contacto i{
    display: flex;
    gap:10px;
}
.redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}
.icons{
    display: flex;
    gap:20px;

}
.fa-brands.fa-instagram, .fa-brands.fa-facebook, .fa-brands.fa-twitter, .fa-brands.fa-youtube{
    font-size: 2rem;
    color:white;
}
.fa-brands.fa-instagram:hover{
    transition: all 0.3s;
    transform: scale(1.2);
    color:rgb(253, 86, 44);
}
.fa-brands.fa-facebook:hover{
    transition: all 0.3s;
    transform:  scale(1.2);
    color:#3b5998;
}
.fa-brands.fa-twitter:hover{
    transition: all 0.3s;
    transform: scale(1.2);
    color:#00acee;
}
.fa-brands.fa-youtube:hover{
    transition: all 0.3s;
    transform: scale(1.2);
    color:rgb(225, 14, 14);
}
/* ACA TERMINA CONTACTO CONTAINER */

/* EMPIEZA FOOTER **/
footer{
display:flex;
align-items: center;
justify-content: center;
background-color: black;
border-top: 1px solid greenyellow;
}
footer img {
    width: 150px;
}
























.navbar-hamburguesa{
    display: none;
}

@media (max-width: 1024px){
    .works img{
        width: 200px;
    }
    .work{
        width: 200px;
    }

}
@media (max-width: 768px) {
    /* IMAGEN DE INFO PRINCIPAL */
    .imagen{
        display:none;
    }
    /********/
    /** MODIFICO OVERLAYS **/
    .overlay1:hover p{
        margin: 350px auto;
    }
    .overlay3:hover p{
        margin: 290px auto;
    }
    /*********/
    /** MODIFICO WORKSPROGRESS */
    .fa-solid.fa-1, .fa-solid.fa-2, .fa-solid.fa-3, .fa-solid.fa-4{
        display: block;
        color:black;
        font-size:2.5rem;
    }
    .workprogress-pasos{
        align-items: baseline;
        box-shadow: none;
        flex-direction: column;
        gap:80px;
        /* border:1px solid red; */
        
    }
    .workprogress h2{
        font-size: 2rem;
        letter-spacing: 3px;
    }
    .workprogress h4{
        font-size: 1.2rem;
    }
    .item{
        box-shadow: none;
        gap:15px;
        font-size: 1.5rem;
        /* border:1px solid orange; */
        height: auto;
        
    }
    .fa-solid.fa-angle-right{
        display: none;
    }
    /********/

    /* MODIFICO WORKS CONTAINER */
    .works{
        flex-direction: column;
    }
    .works-container h2{
        font-size: 2rem;
        letter-spacing: 3px;
    }
    .works img{
        width: 400px;
    }
    .work{
        width: 400px;
    }
    /***********/

    /* MODIFICO CONTACTO CONTAINER */
    .mapa{
        text-align: center;
        margin-top: 20px;
    }
    .mapa iframe{
        width:600px;
    }


}

@media (max-width: 426px ){
    .navbar-container{
        display: none;
    }
    .menu{
        display: none;
    }
    .menu-button{
        display: none;
    
    }
    .navbar-hamburguesa{
        display: block;
    }
    .fa-solid.fa-bars{
        color:white;
        font-size:2rem;
        margin-right:15px;
    }
    .menu-responsive{
        display: none;
        position:absolute;
    }
    .menu-button:checked ~ .menu-responsive{
        background-color: black;
        display: flex;
        flex-direction: column;
        list-style: none;
        gap:15px;
        right:0;
        margin-top: 23.5px;
        padding:10px;
    }

    /** MODIFICO INFO PRINCIPAL CONTAINER */
    
    .info-principal{
        width: 100%;
    }
    .contenido{
        width:100%;
        padding:30px;
    }
    .contenido h1{
        font-size: 4rem;
    }
    /*******/

    /** MODIFICO PRODUCTOS CONTAINER */

    .productos-container{
        flex-direction: column;
        align-items: center;
    }
    /*************/

    /** MODIFICO SERVICIOS CONTAINER **/
    
    .responsive-design h3{
        letter-spacing: 0;
        font-size:2.5rem;
       
    }
    .responsive-design p{
        width: 300px;
        font-size:1.2rem;
    }

    .asesoramiento{
        height: 500px;
        background-position: 50% ;
    }
    .asesoramiento h3{
        letter-spacing: 0;
        font-size: 2.5rem;
        top:100px;
    }
    .asesoramiento p{
        width: 350px;
        font-size:1.2rem;
    }
    .overlay2:hover p{
       margin: 200px auto;
    }

    .expandituhorizonte{
        height: 500px;
    }
    .expandituhorizonte h3{
        letter-spacing: 0;
        font-size:2.5rem;
    }
    .expandituhorizonte p{
        width: 100%;
    }
    

    /* MODIFICO CONTACTO CONTAINER */
    .contacto{
        justify-content: center;
        align-items: center;
    }
    .elementos-contacto{
        flex-direction: column;
        gap: 30px;
    }
    .mapa iframe{
        width: auto;
    }
    /**************/

    /** MODIFICO WORKS CONTAINER **/
    .works-container h2{
        font-size: 1.5rem;
        letter-spacing: 3px;
    }
    .works img{
        width: 300px;
    }
    .work{
        width: 300px;
    }

}
@media (max-width: 376px){
    /* MODIFICO WORKS CONTAINER */
    .works img{
        width: 300px;
    }
    .work{
        width: 300px;
    }
    .works-container h2{
        font-size: 1.3rem;
        letter-spacing: 3px;
    }
    
}
@media (max-width: 321px){

    .works img{
        width: 200px;
    }
    .work{
        width: 200px;
    }
    .works-container h2{
        font-size: 1.3rem;
        letter-spacing: 3px;
    }
}

